{% extends 'videoStudio/base.html' %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>e-Video Studio</h1>
                    <span class="subheading">쉽게 만들고, 배포하세요</span>
                </div>
                </div>
            </div>
        </div>
    </header>

    <button class="start_make_ad_button"><span><a href="items"> 광고 제작 Start </a> </span> </button>
{% endblock %}