{% extends 'videoStudio/base.html' %}

{% block content %}
    <header class="masthead" style="background-image: url('media/videoMaterial/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 mx-auto">
                    <div class="site-heading">
                        <h1>Item 고르기</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <a href="videotemplate"><img class="card-img-top" src="http://gdimg.gmarket.co.kr/642480089/still/600?ver=0" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="videoedit">목디스크견인치료기 목견인치료기 목견인기 목디스크</a>
                        </h4>
                        <h5>35,000원</h5>
                        <p class="card-text">http://gmkt.kr/gmS3fZ</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <a href="videotemplate"><img class="card-img-top" src="http://gdimg.gmarket.co.kr/753767587/still/600?ver=1508116988" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">써비트랙 CS500 목보호대 견인의료기기 경추디스크</a>
                        </h4>
                        <h5>283,100원</h5>
                        <p class="card-text">http://gmkt.kr/gs7ZSj</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <a href="videotemplate"><img class="card-img-top" src="http://gdimg.gmarket.co.kr/878759000/still/600?ver=0" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="./videoEdit.html">엘피서포트 엠바이오지/익스트림 보호대 모음 (택 1)</a>
                        </h4>
                        <h5>67,200원</h5>
                        <p class="card-text">http://gmkt.kr/g0YMxY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
