<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card" style="width: 50rem;">
                {% if video1 %}
                    <video name="test" width="400" height="360" controls autoplay>
                        <source src= {{ video1.material.url }}></source>
                    </video>
                {% else %}
                    아래의 양식을 채워서 제출해주세요
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">Step #1</h4>
                    <p class="card-text">Text를 15개 넣으세요</p>
                    <form action="{% url "videoEditStep1" %}" method="POST" class="post-form">{% csrf_token %}
                        {{ form_step1.as_p }}
                        <button type="submit" class="save btn btn-default">제출</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>