<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card" style="width: 50rem;">
                    <video name="test" width="400" height="360" controls>
                        <source src= 'media/logo.mp4'></source>
                    </video>
                    <video name="test" width="400" height="360" controls>
                            <source src= 'media/logo2.mp4'></source>
                        </video>
                    <video name="test" width="400" height="360" controls>
                            <source src= 'media/logo.mp4'></source>
                        </video>
            </div>
        </div>
    </div>
</div>