{% extends 'videoStudio/base.html' %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('media/videoMaterial/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 mx-auto">
                <div class="site-heading">
                    <h1>영상템플릿</h1>
                    <span class="subheading">템플릿을 선택하세요</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="row">
    <div class="col">
        <div class="card-columns">
            <!-- Example Social Card-->
            <div class="card mb-3">
                <a href="videoedit">
                    <img class="card-img-top img-fluid w-100" src="media/template1.jpg" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">영상 템플릿1</a></h6>
                </div>
                <hr class="my-0">
                <div class="card-footer small text-muted">제작된 영상수 <b>10</b>개</div>
            </div>
            <!-- Example Social Card-->
            <div class="card mb-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="media/template2.jpg" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">영상 템플릿2</a></h6>
                </div>
                <hr class="my-0">
                <div class="card-footer small text-muted">제작된 영상수 <b>200</b>개</div>
            </div>
            <!-- Example Social Card-->
            <div class="card mb-3">
                <a href="#">
                    <img class="card-img-top img-fluid w-100" src="media/template3.jpg" alt="">
                </a>
                <div class="card-body">
                    <h6 class="card-title mb-1"><a href="#">영상 템플릿3</a></h6>
                </div>
                <hr class="my-0">
                <div class="card-footer small text-muted">제작된 영상수 <b>300</b>개</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
