<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card" style="width: 50rem;">
                {% if video5 %}
                    <div class="mx-auto">
                    <video name="test" width="400" height="360" controls preload>
                        <source src= {{ video5.material.url }}></source>
                    </video>
                    </div>
                {% else %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">아래의 양식을 채워서 제출해주세요</li>
                    </ol>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">Step #5</h4>
                    <p class="card-text">이미지 3개와 각각에 대한 이미지 3개를 입력하세요</p>
                    <form action="{% url "videoEditStep5" %}" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                        {{ form_step5.as_p }}
                        <button type="submit" class="save btn btn-primary">제출</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>