{% extends 'videoStudio/base.html' %}

{% block content %}

    <!-- List of uploaded documents -->
    {% if materials %}
        <ul>
            <li>비디오 있음</li>
        </ul>
    {% else %}
        <p>No Materials!</p>
    {% endif %}

    <form action="{% url "videoEdit" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.material.label_tag }} {{ form.material.help_text }}</p>
        <p>
            {{ form.material.errors }}
            {{ form.material }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>

    <video name="test" width="400" height=360 controls>
        <source src='media/videoMaterial/TextEffects.mp4'></source>
    </video>

{% endblock %}