.start_make_ad_button {
    padding : 30px;
    border-radius: 6px;
    background-color: #FCA205;
    font-size: 25px;
    color: white;
    width: 50%;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 0%;
    margin-left: 25%;
}

.start_make_ad_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .start_make_ad_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .start_make_ad_button:hover span {
    padding-right: 25px;
  }
  
  .start_make_ad_button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .start_make_ad_button span a {
      text-decoration: none;
      color: white;
  }